<div class='container'>
  <div id='explanation'>
    <h1 id='title'>使い方</h1>

    <div>
      <h1>採用担当者様へ</h1>
      <hr>
      <h3>①テストユーザー１でログインしてください。</h3>
      <hr>
      <h3>②お手持ちのスマートフォンなどの別端末でテストユーザー２にログインしてください。</h3>
      <hr>
      <h3>③テストユーザー１で[募集する]ボタンからフォームに飛び、以下のテンプレートを貼り付けた後「募集開始！」ボタンを押してください。</h3>
      <hr>
      <p>モンストでマルチしない？<br>
        「あたしのしたい事（極）」<br>
        https://static.monster-strike.com/line/?pass_code=hogehoge<br>
        ↑このURLをタップすると、タップした人達同士で一緒にマルチプレイができるよ！<br>

        https://static.monster-strike.com/hogehoge<br>
        ↑モンストをまだ始めていなかったらこのURLからインストールしてね！</p>
      <hr>
      <p>※上記のテンプレートはモンスターストライク側から生成されるものです</p>
      <hr>
      <h4>※<a href="https://twitter.com/r6kCNRnyCWZVQGM">https://twitter.com/r6kCNRnyCWZVQGM</a>こちらのツイッターアカウントに募集が投稿されている事が確認できます。
      </h4>
      <hr>
      <h3>④テストユーザー２の端末から募集ページに行き、[参加する]ボタンを押してください。</h3>
      <hr>
      <h3>⑤募集に参加、参加取り消しをすると、テストユーザー１の方からも現在の参加者（テストユーザー２）が確認できます。</h3>
      <hr>
      <h3>⑥[募集メンバー決定]ボタンが押されると、全員にゲームスタートボタンが表示されます。</h3>
      <p>※ゲームスタートボタンを押すと、モンストがインストールされている端末はゲームが起動します。</p>
      <hr>
      <h3>⑦マッチ終了後、募集者（テストユーザー１）は参加者（テストユーザー２）をお気に入りorブロックする事ができます。ブロックするとブロックされた人が募集に参加できなくなり、お気にりすると自分の募集が参加リクエストに追加されます。</h3>
      <hr>
      <h3>⑧お気に入り、ブロックはマイページから削除する事ができます。</h3>
      <hr>
      <h3>以上がアプリの概要となっております。ここまでお試し頂きありがとうございました！</h3>
    </div>

    <div class='explanation-contents'>
      <h2 class='subtitle'>ログイン</h2>
      <p>ページ右上からツイッターアカウントを使用してログイン出来ます。</p>
      <p>ログイン後、右上のアイコンからユーザー設定とログアウトが出来ます。</p>
      <p style='color: red'>モンストユーザーネームの登録が必須です。</p>
    </div>

    <div class='explanation-contents'>
      <h2 class='subtitle'>募集</h2>
      <p>ログイン後、募集するボタンから募集を開始します。</p>
      <h3 class='subtitle'>募集の流れ</h3>
      <%= image_tag 'explanation/explanation_recruit.png' %>
      <p>(1)Lineの募集文をそのまま貼り付けてください。</p>
      <p>(2)キャラクターやステータス等、自由に募集出来ます。</p>
      <p>(3)募集内容をツイートしたい場合はチェックを入れてください。</p>
      <%= image_tag 'explanation/explanation_show.png' %>
      <p>(1)自分の募集に参加している人を確認出来ます。</p>
      <p>(2)人が揃ったタイミングで募集メンバーを決定してください。</p>
      <%= image_tag 'explanation/explanation_start.png' %>
      <p>(1)ゲームスタート(モンスト起動)からゲームを起動します。</p>
    </div>

    <div class='explanation-contents'>
      <h2 class='subtitle'>募集に参加</h2>
      <%= image_tag 'explanation/explanation_join.png' %>
      <p>(1)参加するボタンから募集に参加できます。</p>
      <%= image_tag 'explanation/explanation_join_start.png' %>
      <p>(1)募集主がメンバー決定後、ゲームスタート(モンスト起動)から参加できます。</p>
    </div>

    <div class='explanation-contents'>
      <h2 class='subtitle'>参加リクエスト</h2>
      <p>自分をお気に入りした人の募集のみが表示されます</p>
    </div>
  </div>
</div>