<div class='container'>
  <div id='explanation'>
    <h1 id='title'>使い方</h1>

    <div class='explanation-contents'>
      <h2 class='subtitle'>ログイン</h2>
      <p>ページ右上からツイッターアカウントを使用してログイン出来ます。</p>
      <p>ログイン後、右上のアイコンからユーザー設定とログアウトが出来ます。</p>
      <p style='color: red'>モンストユーザーネームの登録が必須です。</p>
    </div>

    <div class='explanation-contents'>
      <h2 class='subtitle'>募集</h2>
      <p>ログイン後、募集するボタンから募集を開始します。</p>
      <h3 class='subtitle'>募集の流れ</h3>
      <%= image_tag 'explanation/explanation_recruit.png' %>
      <p>(1)Lineの募集文をそのまま貼り付けてください。</p>
      <p>(2)キャラクターやステータス等、自由に募集出来ます。</p>
      <p>(3)募集内容をツイートしたい場合はチェックを入れてください。</p>
      <%= image_tag 'explanation/explanation_show.png' %>
      <p>(1)自分の募集に参加している人を確認出来ます。</p>
      <p>(2)人が揃ったタイミングで募集メンバーを決定してください。</p>
      <%= image_tag 'explanation/explanation_start.png' %>
      <p>(1)ゲームスタート(モンスト起動)からゲームを起動します。</p>
    </div>

    <div class='explanation-contents'>
      <h2 class='subtitle'>募集に参加</h2>
      <%= image_tag 'explanation/explanation_join.png' %>
      <p>(1)参加するボタンから募集に参加できます。</p>
      <%= image_tag 'explanation/explanation_join_start.png' %>
      <p>(1)募集主がメンバー決定後、ゲームスタート(モンスト起動)から参加できます。</p>
    </div>

    <div class='explanation-contents'>
      <h2 class='subtitle'>参加リクエスト</h2>
      <p>自分をお気に入りした人の募集のみが表示されます</p>
    </div>
  </div>
</div>