<div class='container pt-5'>
  <div class='row mb-3'>
    <div class='col-lg-8 offset-lg-2'>
      <h1>募集詳細</h1>
      <div class='card-body'>
        <div class='row'>
          <ul class='list-inline'>
            <li class='list-inline-item'><%= current_user.name %></li>
            <li class='list-inline-item'><%= @post.created_at %></li>
          </ul>
          <div class='col-md-9'>
            <h3 style='display: inline;'><%= @post.quest_name %></h3>
          </div>
        </div>
        <%= form_with model: @recruiting_position, local: true do |form| %>
          <%= render 'shared/error_messages', model: form.object %>
          <% @post.member_capacity.times do %>
            <%= form.fields_for "recruiting_positions[]", @recruiting_position do |ff| %>
              <div>
                <%= ff.label :character %>
                <%= ff.text_field :character %>
              </div>
              <div>
                <%= ff.label :description %>
                <%= ff.text_field :description %>
              </div>
            <% end %>
          <% end %>
          <%= form.submit "更新" %>
        <% end %>
      </div>

    </div>
  </div>
</div>
