<div class='input-character-info'>
  <button type='button' onclick="setDescriptionValue(this)" class="<%= count %> recruit-info-customize btn btn-danger">何でもOK</button>
  <button type='button' onclick="setDescriptionValue(this)" class="<%= count %> recruit-info-customize btn btn-danger">運極</button>
  <button type='button' onclick="setDescriptionValue(this)" class="<%= count %> recruit-info-customize btn btn-danger">超絶運極</button>
  <button type='button' onclick="setDescriptionValue(this)" class="<%= count %> recruit-info-customize btn btn-danger">実厳選</button>
  <button type='button' onclick="setDescriptionValue(this)" class="<%= count %> recruit-info-customize btn btn-danger">紋章厳選</button>
</div>