<header>
  <div id='header-logo-and-link'>
    <%= link_to (image_tag 'logo.png', alt: 'ページタイトル画像', id: 'page-image'), root_path %>
    <%= link_to edit_user_path(current_user), id: 'header-user-profile' do %>
      <%= image_tag current_user.avatar.to_s, alt: 'ユーザープロフィール画像', id: 'header-user-avatar' %>
      <span id='header-user-name'><%= current_user.name[0, 8] %></span>
    <% end %>
  </div>
  <div id='header-logged-in-links'>
    <div id='header-image-links'>
      <%= link_to image_tag('posts_index.png'), posts_path, class: 'header-image-link' %>
      <%= link_to image_tag('recruit.png'), new_post_path, class: 'header-image-link' %>
      <%= link_to image_tag('recruiting_or_joining.png'), now_join_path, class: 'header-image-link' %>
      <%= link_to image_tag('request.png'), relationships_path, class: 'header-image-link' %>
    </div>
  </div>
</header>
