<% if joined_user.present? %>
  <div>
    <span>募集</span>
    <%= joined_user.recruiting_position.character %>
    <span>参加者</span>
    <%= joined_user.user.name %>
    <span>
      <% if current_user.following.include?(joined_user.user) %>
        <%= render partial: 'shared/unfollow', locals: {follow_user_id: joined_user.user.id} %>
      <% else %>
        <%= render partial: 'shared/follow', locals: {follow_user_id: joined_user.user.id} %>
      <% end %>
      <% if current_user.blacklisting.include?(joined_user.user) %>
        <%= render partial: 'shared/unblock', locals: { block_user_id: joined_user.user.id } %>
      <% else %>
        <%= render partial: 'shared/block', locals: { block_user_id: joined_user.user.id } %>
      <% end %>
    </span>
  </div>
<% else %>
  <div>参加者はいませんでした</div>
<% end %>
