<div class='joined-user-info'>
<% if joined_user.present? %>
  <div>
    <span>募集キャラクター</span>
    <% if joined_user.recruiting_position.character.present? %>
      <%= joined_user.recruiting_position.character %>
    <% else %>
      <span>誰でも</span>
    <% end %>
  </div>

  <div>
    <span>参加者</span>
    <%= joined_user.user.name %>

    <% if current_user.blacklisting.exclude?(joined_user.user) %>
      <% if current_user.following.include?(joined_user.user) %>
        <%= render partial: 'shared/unfollow', locals: {joined_user: joined_user.id} %>
      <% else %>
        <%= render partial: 'shared/follow', locals: {joined_user: joined_user.id} %>
      <% end %>
    <% else %>
      <span>お気に入りできません</span>
    <% end %>

    <% if current_user.following.exclude?(joined_user.user) %>
      <% if current_user.blacklisting.include?(joined_user.user) %>
        <%= render partial: 'shared/unblock', locals: {joined_user: joined_user.id} %>
      <% else %>
        <%= render partial: 'shared/block', locals: {joined_user: joined_user.id} %>
      <% end %>
    <% else %>
      <span>ブロックできません</span>
    <% end %>
  </div>
<% else %>
  <div>参加者はいませんでした</div>
<% end %>
</div>
