<header>
  <div id='header-logo-and-link'>
    <%= link_to (image_tag 'logo.png', alt: 'ページタイトル画像', id: 'page-image'), root_path %>
    <%= link_to auth_at_provider_path(provider: :twitter), id: 'header-login-link' do %>
      <i class="fab fa-twitter fa-3x"></i>
      <span id='header-login-name'>ログイン</span>
    <% end %>
  </div>
  </div>
  <div id='not-logged-in-explanation'>
    <div id='page-explanation'>
      <h2>Twitterユーザー同士でモンストマルチが出来ます！！！</h2>
      <p>右上からツイッターアカウントでログイン</p>
    </div>
    <div id='page-explanation-button'>
      <%= link_to "テストユーザー１", test_user1_path, class: 'btn btn-primary btn-lg' %>
      <%= link_to "テストユーザー2", test_user2_path, class: 'btn btn-primary btn-lg' %>
      <%= link_to '使い方説明', explanation_path, class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
</header>
