<div class='recruiting_position_style_start'>
  <div >募集キャラクター</div>

  <% if recruiting_position.character.present? %>
    <div><%= recruiting_position.character %></div>
  <% else %>
    <div>何でも良いよ</div>
  <% end %>

  <div>募集詳細</div>
  <% if recruiting_position.description.present? %>
    <div ><%= recruiting_position.description %></div>
  <% else %>
    <div>何でも良いよ</div>
  <% end %>

  <div id="recruiting-position-style-<%= recruiting_position.id %>">
    <% unless current_user.id == recruiting_position.post.user_id %>
        <% if recruiting_position.joined_user.present? && current_user.id == recruiting_position.joined_user.user_id %>
          <%= render partial: 'shared/unjoin_recruiting_position', locals: {recruiting_position: recruiting_position} %>
      <% else %>
        <%= render partial: 'shared/join_recruiting_position', locals: {recruiting_position: recruiting_position} %>
      <% end %>
    <% end %>
  </div>
  <div>
    <p>参加者</p>
    <p id="recruiting-position-name-<%= recruiting_position.id %>"></p>
  </div>
  <% if current_user.id != recruiting_position.post.user_id %>
    <%= link_to "", game_start_path(recruiting_position.post), id: "game-start-#{ recruiting_position.id }" %>
  <% end %>
</div>
