<div class='recruiting-positions-form'>
  <p>1人目の募集</p>
  <div class='character-form'>
    <%= ff.label RecruitingPosition.human_attribute_name :character %>
    <%= ff.text_field :character, placeholder: '誰でもOK', class: 'form-control', id: "character-number-1" %>
    <%= render 'shared/character_set_info', { count: 1 } %>
  </div>
  <div class='description-form'>
    <%= ff.label RecruitingPosition.human_attribute_name :description %>
    <%= ff.text_field :description, placeholder: '指定なし', class: 'form-control', id: "description-number-1" %>
    <%= render 'shared/description_set_info', { count: 1 } %>
  </div>
</div>