<div class='recruiting-positions-form'>
  <div>1人目の募集</div>

  <div class='character-form'>
    <%= ff.label RecruitingPosition.human_attribute_name :character %>
    <%= ff.text_field :character, placeholder: '誰でもOK', class: 'form-control', id: "character-number-2" %>
    <%= render 'shared/character_set_info', { count: 2 } %>
  </div>

  <div class='description-form'>
    <%= ff.label RecruitingPosition.human_attribute_name :description %>
    <%= ff.text_field :description, placeholder: '指定なし', class: 'form-control', id: "description-number-2" %>
    <%= render 'shared/description_set_info', { count: 2 } %>
  </div>
</div>

<div class='recruiting-positions-form'>
  <div>2人目の募集</div>
  <div class='character-form'>
    <%= ff.label RecruitingPosition.human_attribute_name :character %>
    <%= ff.text_field :character, placeholder: '誰でもOK', class: 'form-control', id: "character-number-3" %>
    <%= render 'shared/character_set_info', { count: 3 } %>
  </div>

  <div class='description-form'>
    <%= ff.label RecruitingPosition.human_attribute_name :description %>
    <%= ff.text_field :description, placeholder: '指定なし', class: 'form-control', id: "description-number-3" %>
    <%= render 'shared/description_set_info', { count: 3 } %>
  </div>
</div>