<div class='container'>
  <div class='row'>
    <div class='col-lg-8 offset-lg-2'>
      <h1>投稿</h1>
      <%= form_with model: @post, url: posts_path, local: true do |form| %>
        <% if @post.errors.any? %>
          <div class="alert alert-danger">
            <ul>
              <% if @post.errors.full_messages %>
                <div>ライン本文をコピー＆ペーストしてください</div>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class='form-group'>
          <%= form.label '本体' %>
          <%= form.text_area :body, class: 'form-control' %>
        </div>
        <div class='form-group'>
          <%= form.label :member_capacity %>
          <fieldset>
            <%= form.radio_button :member_capacity, 1, class: "radio-inline__input" %>
            <%= form.label :member_capacity, '1人', value: 1, class: "radio-inline__label" %>


            <%= form.radio_button :member_capacity, 2, class: "radio-inline__input" %>
            <%= form.label :member_capacity, '2人', value: 2, class: "radio-inline__label" %>

            <%= form.radio_button :member_capacity, 3, class: "radio-inline__input" %>
            <%= form.label :member_capacity, '3人', value: 3, class: "radio-inline__label" %>
          </fieldset>
        </div>
        <div class='actions'>
          <%= form.submit '投稿', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>